apiVersion: v1
kind: Service
metadata:
  name: grafana
spec:
  selector:
    app: grafana
  type: NodePort
  ports:
    - port: 3000           # Service port
      targetPort: 3000     # Container port
      nodePort: 30300      # NodePort (external port)
